<%- include('../_layouts/adminheader') %>

<h1 class="page-header">Edit Category <a href="/admin/categories" class="btn btn-sm btn-info">Back to all Categories</a>
</h1>

<br><br>

<form method="post" action="/admin/categories/edit-category/<%= id %>">

    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>

    <button class="btn btn-default">Update</button>

</form>


<%- include('../_layouts/adminfooter') %>