</div><!-- /.container -->
</div><!-- /.container -->


</div><!-- /.container -->


<footer class="footer" style="margin: 25px;">
  <div class="container">
    <p class="text-muted" style="float: right;">&copy; Designed and Developed by Ahmmed Abir</p>
  </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<script src="/js/main.js"></script>


</body>

</html>