<% include _layouts/header %>

<div class="container c-slide">
  <h1 class="page-header"><%= title %><a href="/admin/products" class="btn btn-sm btn-info">Back to all Products</a>
  </h1>

  <br><br>

  <form method="post" action="/users/register">

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="">Confirm Password</label>
      <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
    </div>


    <button class="btn btn-default">Submit</button>

  </form>
</div>
<% include _layouts/footer %>