.brand-img {
    max-width: 90px;
}


body {
    background-color: rgb(255, 255, 255);
}


table.alignmiddle td {
    vertical-align: middle !important;
}

.section-header {
    margin: 30px 0px;
    text-align: center;
}

.c-slide {
    height: max-content;
    margin: auto;
}


.simple-link {
    margin: 10px auto;
    text-decoration: none;
    color: #000;
}

.simple-link a {
    text-decoration: none;
    color: #000;
}


.breadcrumb {
    height: auto;
    margin-bottom: 30px !important ;
    background-color: #fff;
    padding: auto !important;
}

.thumb-text {
    text-align: center;
    padding: 0 0 0 0 !important;
    height: 100%;
}

.thumb-text a {
    width: 100%;

}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 0.8s ease;
}

.inner:hover img {
    transform: scale(1.1);
}

.thumb-text h3 {
    font-size: 20px;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.thumb-text h4 {
    font-size: 15px;
    margin-top: 0;
}

.thumb-text:hover {
    box-shadow: 0px 4px 6px #888888;
    transform: scale(1.02);
    
}

.p-card {
    padding-right: 5px;
    padding-left: 5px;
}

.sidemenu {
    margin: 20px 0;
}

.sidemenu h3 {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.hero-image {
    background-image: url("/images/empty-cart.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero {
    background-image: url("/images/cover-1.png");
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
    margin-top: 20px;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }
.caption {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.card-img-top {
    width: 100%;
}


img.pimage {
    width: 180px;
}

a.pa {
    display: inline-block;
    height: 200px;
}

.btn {
    border-radius: 1px !important;
}

div.pimg {

    border: 1px solid #eee;
    padding: 5px;
    border-radius: 4px;
}

img.spi {
    width: 100%;
}

img.gimg:hover  {
    box-shadow: 0px 4px 6px #888888;
    transform: scale(1.03);
}


ul.gallery {
    margin-left: 0;
    padding-inline-start: 0px;
}

ul.gallery li {
    display: inline-block;
    margin: 10px;
    list-style: none;
    
}

.footer-widget a {
    text-decoration: none;
    display: inline-block;
}

.contact-link{
    display:inline-block;
    width: 100%;
    color: #333;
  }

.footer-widget li {
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 0 10px;
}

.footer-social ul{
      padding-left: 0;
}

li{
    list-style: none;
    
    padding: 0 10px;
}
    .footer-social ul li:first-child{
      padding-left: 0;
    }
.footer-widget li a{
      font-size: 20px;
      color: #333;
      }
      .footer-widget li a:hover {
          color: red;
        }

.footer-widget .red{
    color: red !important;
  }


  .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 40%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: super;
    border-radius: .50em;
}

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    border: none !important;
    min-height: 60px !important;
    background-color: #ffffff !important;
    box-shadow: 0px 4px 6px #888888;
}

.nav {

    min-height: 60px !important;
    background-color: #ffffff !important;
}

.nav li a {

    padding: 20px 0;
}

.head-cover {
    width: 100%;
    height: 100vh;
}
.navbar-toggle {
    margin-top: 12px !important;
}


.p {
    border-left: 1px solid #eee;
    background-color: #fff;
}

.user-image {
    width: 50%;
    text-align: center;
    border: 1px solid #eee;
}

.user-det {
    text-align: center;
    border: 1px solid #eee;
}

.page-header {
    margin-top: 20px;
}

.btn-group-vertical {
    width: 100%;
}

.btn-group-vertical>.btn {
    border-radius: 0 !important;
}

.footer-text {
    margin-top: 10px;
}
.footer-text a {
    text-decoration: none;
    color: tomato;
    text-transform: uppercase;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .c-slide {
        margin-top: 58px;
        font-size: 10px;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }
    .carousel-caption .btn-lg {
        padding: 6px 7px;
        font-size: 8px;
    }
    .h1 {
        font-size: 30px !important;
    }
    .footer-text p {
        float: none;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }
    .mobile-disable {
        display: none;
    }

}

/* @media only screen and (max-width: 1000px) {
    .c-slide {
        height: max-content;
    }
} */





